body {
	background-color: white;
	font-family: Candara, monospace;
}
main {
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}
footer {
	margin-top: 7%;
	text-align: right;
	font-weight: bold;
	padding-right: 5%;
}
h3, h2 {
	text-transform: uppercase;
	color: red;
}

p + h2 {
	margin-top: 4%;
	margin-bottom: 4%;
	color: rgba(37, 32, 35, 0.9);
}

li {
	display: inline-flex;
	list-style-type: none;
	margin-left: 1.5em;
	margin-right: 1.5em;
	border: none;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
a:link, a:visited {
  background-color: inherit;
  color:  #f44336;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
  color: white;
}

button {
	background-color: orangered;
	color: white;
	border: none;
	width: 11em;
	height: 2em;
	margin-top: 40px;
	font-size: 15px;
	font-weight: bold;

}